<!DOCTYPE HTML>
<html lang="pl">
	<head>
		<meta charset="utf-8">	
		<meta name="author" content="Yenerald">
		<link href="../css/reset.css" rel="stylesheet" >
		<link href="../css/css1.css" rel="stylesheet" >
		<link rel="Shortcut icon" href="../icons/logo.png">
		<link href='http://fonts.googleapis.com/css?family=Amarante&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Start WOWSlider.com HEAD section -->
		<link rel="stylesheet" type="text/css" href="../engine1/style.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<!-- End WOWSlider.com HEAD section -->	
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
		<noscript>
			<style type="text/css">
			.lvl-1:hover .menu-lvl-2 {
				display:block;
			}
			.lvl-2:hover .menu-lvl-3 {
				display:block;
			}
			 
			</style>
		</noscript>
		<title>Hufiec ZHP Orneta</title>
	</head>
	<body>
		<header id="head">
			<div class="menu-desktop">
			<li class="lvl-1" id="lvl-1-logo"><a href="../a/index.html" title="Logo" id="lvl-1-logo"></a></li>
			<ul class="menu-lvl-1" id="menu">
				<li class="lvl-1"><a href="../a/index.html" title="O Nas" id="lvl-1z">O Nas</a></li>
				<li class="lvl-1">
					<a title="Hufiec" id="lvl-1z">Hufiec</a>
					<ul class="menu-lvl-2">
						<li class="lvl-2" id="menu">
							<a title="">Lidzbark Warmiński</a>
							<ul class="menu-lvl-3">
								<li class="lvl-3"><a href="../h/index.html" title="">1 HGR HARCMED</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">9 LGZ "TURMA FIFAKI"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">13 DHNS "POMARAŃCZE"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">22 GADSH "FREJLANKI"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">23 "AQUILA"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">33 DW "OPTIMUM"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">44 GRDSH "JOANNICI"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">66 DH "NELKI"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">77 DH "LAZARON"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">96 "KARAMBIT"</a></li>
							</ul>
						</li>
						<li class="lvl-2">
							<a title="">Orneta</a>
							<ul class="menu-lvl-3" id="menu">
								<li class="lvl-3"><a href="../h/index.html" title="">1 OGWRDW "AKWARIUM"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">57 ŻDSH "ENIGMA"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">58 GDW "DRAŻOŻERCY"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">59 GZ "POSZUKIWACZE SCOOBY-DOO"</a></li>
							</ul>
						</li>
						<li class="lvl-2">
							<a title="">Lubomino</a>
							<ul class="menu-lvl-3" id="menu">
								<li class="lvl-3"><a href="../h/index.html" title="">81 LGZ "ROZTRZEPANE BOBRY"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">87 DH "NIE Z TEGO ŚWIATA"</a></li>
								<li class="lvl-3"><a href="../h/index.html" title="">89 ŻDSH "ADVENIS"</a></li>
							</ul>
						</li>
						<li class="lvl-2">
							<a title="">Rogóż</a>
							<ul class="menu-lvl-3" id="menu">
								<li class="lvl-3"><a href="../h/index.html" title="">26 "FENIKS"</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="lvl-1"><a href="../d/index.html" title="Dokumenty" id="lvl-1z">Dokumenty</a></li>
				<li class="lvl-1"><a href="../k/index.html" title="Kontakt" id="lvl-1z">Kontakt</a></li>
				<li class="lvl-1"><a href="https://www.facebook.com/HufiecOrneta" title="Facebook" id="lvl-1z">Facebook</a></li>
			</ul>
			</div>
		</header>
		<div class="menu-mobile">
				<aside>
					<div class="menu-trigger">Menu</div>
					<nav class="lvl1">
						<ul>
							<li><a href="">O Nas</a></li>
							<li id="hufiec">
							<a>Hufiec</a>
								<div class="menu-lvl2">
								<nav class="lvl2">
								<ul>
									<li id="LW">
									<a>Lidzbark Warmiński</a>
										<div class="menu-lvl3">
											<nav class="LW">
											<ul>
												<li><a href="../h/index.html" title="">1 HGR HARCMED</a></li>
												<li><a href="../h/index.html" title="">9 LGZ "TURMA FIFAKI"</a></li>
												<li><a href="../h/index.html" title="">13 DHNS "POMARAŃCZE"</a></li>
												<li><a href="../h/index.html" title="">22 GADSH "FREJLANKI"</a></li>
												<li><a href="../h/index.html" title="">23 "AQUILA"</a></li>
												<li><a href="../h/index.html" title="">33 DW "OPTIMUM"</a></li>
												<li><a href="../h/index.html" title="">44 GRDSH "JOANNICI"</a></li>
												<li><a href="../h/index.html" title="">66 DH "NELKI"</a></li>
												<li><a href="../h/index.html" title="">77 DH "LAZARON"</a></li>
												<li><a href="../h/index.html" title="">96 "KARAMBIT"</a></li>
											</ul>
											</nav>
										</div>
										<li id="orneta">
										<a>Orneta</a>
											<div class="menu-lvl3">
												<nav class="orneta">
												<ul>
													<li><a href="../h/index.html" title="">1 OGWRDW "AKWARIUM"</a></li>
													<li><a href="../h/index.html" title="">57 ŻDSH "ENIGMA"</a></li>
													<li><a href="../h/index.html" title="">58 GDW "DRAŻOŻERCY"</a></li>
													<li><a href="../h/index.html" title="">59 GZ "POSZUKIWACZE SCOOBY-DOO"</a></li>
												</ul>
												</nav>
											</div>
										</li>
										<li id="lubomino">
										<a>Lubomino</a>
											<div class="menu-lvl3">
												<nav class="lubomino">
												<ul>
													<li><a href="../h/index.html" title="">81 LGZ "ROZTRZEPANE BOBRY"</a></li>
													<li><a href="../h/index.html" title="">87 DH "NIE Z TEGO ŚWIATA"</a></li>
													<li><a href="../h/index.html" title="">89 ŻDSH "ADVENIS"</a></li>
												</ul>
												</nav>
											</div>
										</li>
										<li id="rogoz">
										<a>Rogóż</a>
											<div class="menu-lvl3">
												<nav class="rogoz">
												<ul>
													<li><a href="../h/index.html" title="">26 "FENIKS"</a></li>										
												</ul>
												</nav>
											</div>
										</li>
								</ul>
								</nav>
								</div>
							</li>
							<li><a href="">Dokumenty</a></li>
							<li><a href="">Kontakt</a></li>
							<li><a href="">Facebook</a></li>
						</ul>
					</nav>
					</div>
				</aside>
			</div>
		<main>
			<nav id="main">
				<div id="slides">

				</div>
					<div id="article">
						<article>
						{% for post in posts %}
							<div>
								<p>Opublikowany: {{ post.published_date}}</p>
								<h1><a href="">{{ post.title}}</a></h1>
								<p>{{ post.text|linebreaksbr}}</p>
							</div>
						{% endfor %}
						</article>
					</div>
			</div>
		</main>
		<footer class="site-footer">
			<div id="tekst">
				<p>Hufiec ZHP Orneta
				<br>11-100 Lidzbark Warmiński
				<br>ul. Kardynała Stefana Wyszyńskiego 20
				<br>orneta@zhp.pl
				<br>Bank BGŻ 36 2030 0045 1110 0000 0219 4470</p>
			</div>
		</footer>
		<script type="text/javascript">
			$(function(){
				function showIt(liClass){
					$(liClass).hover(
						function() {
							$('ul',this).first().slideDown()
						},
						function() {
							$('ul',this).first().slideUp()
						}
					)
				}
			 
				showIt('.lvl-1')
				showIt('.lvl-2')
			})
		</script>
		<script>
			$(document).ready(
			function(){
				$(".menu-trigger").click(function(){
				$('.lvl1').slideToggle();
				});
				
				$("#hufiec").click(function(){
				$('.lvl2').slideToggle();
				});
				
				$("#LW").click(function(){
				$('.lvl2').slideToggle();
				$('.LW').slideToggle();
				});
				
				$("#orneta").click(function(){
				$('.orneta').slideToggle();
				$('.lvl2').slideToggle();
				});
				
				$("#lubomino").click(function(){
				$('.lubomino').slideToggle();
				$('.lvl2').slideToggle();
				});
				
				$("#rogoz").click(function(){
				$('.rogoz').slideToggle();
				$('.lvl2').slideToggle();
				});

			});
		</script>
	</body>
</html>